<html lang="en" class="no-js">
  <body>
    <div id="main" role="main">
      <article itemscope itemtype="http://schema.org/CreativeWork">
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:125px;margin-top: calc(-5px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <br />
                <p style="font-size:normal; color:black;text-align:left;">
                  <strong> <a href="https://arxiv.org/abs/2307.00162" target="_blank">
                    What Do Self-Supervised Speech Models Know About Words?</a></strong><br />
                   <em>Ankita Pasad</em>, Chung-Ming Chien, Shane Settle, Karen Livescu<br />
                  TACL 2024<br />
                  <a href="https://github.com/ankitapasad/layerwise-analysis" target="_blank">Code</a><br />
                  <a href="https://www.youtube.com/watch?v=_2vdIxZvZRk" target="_blank">10-min Video</a><br />
                  <a href="https://ankitapasad.github.io/docs/poster_ACL.pdf" target="_blank">Poster</a>
                  
                </p>
              </div>
            </div>
            <br />

            <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:140px;margin-top: calc(10px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <br />
                <p style="font-size:normal; color:black;text-align:left;">
                  <strong> <a href="https://arxiv.org/abs/2212.10525" target="_blank">
                    SLUE Phase-2: A Benchmark Suite of Diverse Spoken Language Understanding Tasks </a></strong><br />
                    Suwon Shon, Siddhant Arora*, Chyi-Jiunn Lin*, <em>Ankita Pasad</em>*, Felix Wu, Roshan Sharma, Wei-Lun Wu, Hung-Yi Lee, Karen Livescu, Shinji Watanabe <br />
                  ACL 2023<br />
                  <a href="https://github.com/asappresearch/slue-toolkit" target="_blank">Code</a>
                </p>
              </div>
            </div>
            <br />

            <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:125px;margin-top: calc(-5px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <br />
                <p style="font-size:normal; color:black;text-align:left;">
                  <strong> <a href="https://arxiv.org/abs/2211.03929" target="_blank">
                    Comparative Layer-Wise Analysis of Self-Supervised Speech Models</a></strong><br />
                   <em>Ankita Pasad</em>, Bowen Shi, Karen Livescu<br />
                  ICASSP 2023<br />
                  <a href="https://github.com/ankitapasad/layerwise-analysis" target="_blank">Code</a>
                </p>
              </div>
            </div>
            <br />

            <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:130px; margin-top: calc(-20px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <p style="font-size:large; color:black;text-align:left;">
                  <strong> <a href="https://aclanthology.org/2022.naacl-main.53.pdf" target="_blank">
                    On the Use of External Data for Spoken Named Entity Recognition</a></strong><br />
                    <em>Ankita Pasad</em>, Felix Wu, Suwon Shon, Karen Livescu, Kyu J Han <br />
                  NAACL 2022<br />
                  <a href="https://github.com/asappresearch/spoken-ner" target="_blank">Code</a>
                </p>
              </div>
            </div>
            <br />

             <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:150px;margin-top: calc(20px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <br />
                <p style="font-size:normal; color:black;text-align:left;">
                  <strong> <a href="https://arxiv.org/abs/2111.10367" target="_blank">
                    SLUE: New Benchmark Tasks for Spoken Language Understanding Evaluation on Natural Speech</a></strong><br />
                    Suwon Shon, <em>Ankita Pasad</em>, Felix Wu, Pablo Brusco, Yoav Artzi, Karen Livescu, Kyu J. Han <br />
                  ICASSP 2022<br />
                  <a href="https://github.com/asappresearch/slue-toolkit" target="_blank">Code</a>
                </p>
              </div>
            </div>
            <br />
            
            <div class="row">
              <!-- <div class="col-sm-3">
                <figure>
                  <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg" style="max-width:130px;">
                </figure>
              </div> -->
              <div class="col-xs-12 col-12">
                <br />
                <p style="font-size:large; color:black;text-align:left;">
                  <strong><a href="https://arxiv.org/pdf/2107.04734.pdf" target="_blank">
                    Layer-Wise Analysis Of A Self-Supervised Speech Representation Model </a> </strong><br />
                  <em>Ankita Pasad</em>, Ju-Chieh Chou, Karen Livescu
                  <br />
                  ASRU 2021<br />
                  <a href="https://github.com/ankitapasad/layerwise-analysis" target="_blank">Code</a>
                </p>
              </div>
            </div>
            <br />
            
            <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:130px; margin-top: calc(-20px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <p style="font-size:large; color:black;text-align:left;">
                  <strong> <a href="https://arxiv.org/pdf/2004.05324.pdf" target="_blank">
                    Improving Semantic Segmentation through Spatio-Temporal Consistency Learned from Videos</a></strong><br />
                    <em>Ankita Pasad</em>, Ariel Gordon, Tsung-Yi Lin, Anelia Angelova <br />
                  Learning from Unlabeled Videos, CVPR Workshop, 2020<br />
                </p>
              </div>
            </div>
            <br />
          
            <div class="row">
              <!-- <div class="col-sm-3">
                <center>
                  <figure>
                    <img src="https://ankitapasad.github.io/imges/3953273590_704e3899d5_m.jpg"
                      style="max-width:130px; margin-top: calc(-20px);">
                  </figure>
                </center>
              </div> -->
              <div class="col-xs-12 col-12">
                <p style="font-size:large; color:black;text-align:left;">
                  <strong> <a href="https://arxiv.org/pdf/1904.10947.pdf" target="_blank">
                    On the Contributions of Visual and Textual Supervision in Low-Resource Semantic Speech Retrieval</a></strong><br />
                    <em>Ankita Pasad</em>, Bowen Shi, Herman Kamper, Karen Livescu <br />
                  Interspeech 2019<br />
                </p>
              </div>
            </div>
            <br />
            
          </section>
          <footer class="page__meta"></footer>
        </div>
      </article>
    </div>
  </body>
</html>
